<!DOCTYPE html>
<htm 
lang="es"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos|CRUD</title>
</head>
<body>
    <header class="header">
        <h1>Hector Eduardo Galvan Quiroz</h1>
        <h2>Mini-Proyecto CRUD con Spring-Boot</h2>
    </header>
    <section class="main-form">
        <h2>Productos</h2>
        <form th:object="${producto}" th:action="@{/productos/guardar}" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Tabla</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
            <td><input th:field="*{id}" type="hidden"></td>
            <td><input th:field="*{nombre}" placeholder="Nombre"></td>                                                     
            <td><input th:field="*{precio}" type="text" placeholder="Precio"></td>    
            <td><input th:field="*{stock}" type="text" placeholder="Stock"></td>    
            <td><input th:field="*{categoria}" type="text" placeholder="Categoria"></td>    
            <td><button type="submit" th:text="${producto.id != NULL} ? 'Actualizar' : 'Crear'"></button></td>    
            </tr>
            </tbody>
            </table>
        </form>
        <a th:href="@{/productos}">Cancelar</a>
    </section>
    <footer>
        <p>@Derechos reservados Hector Eduardo Galvan Quiroz 2026</p>
    </footer>
</body>
</html>