<!DOCTYPE html>
<html xmlns:th lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos|CRUD</title>
</head>
<body>
    <header class="header">
        <h1>Hector Eduardo Galvan Quiroz</h1>
        <h2>Mini-Proyecto CRUD con Spring-Boot</h2>
    </header>
    <section class="main-form">
        <h2>Productos</h2>
        <form action="">
            <table class="table">
                <thead class="head-table">
                    <tr>
                        
                    </tr>
                </thead>
            </table>
        </form>
        <a href="/productos/nuevo"><button type="button">Agregar</button></a>
    </section>
    <footer>
        <p>@Derechos reservados Hector Eduardo Galvan Quiroz 2026</p>
    </footer>
</body>
</html>